In [7]:
from matplotlib import pyplot as plt
from IPython.core.interactiveshell import InteractiveShell

import warnings
import numpy as np
import pandas as pd

In [13]:
plt.rc('font', family='GULIM')
warnings.filterwarnings(action='ignore')
InteractiveShell.ast_node_interactivity = "all"

In [14]:
df = pd.read_csv('Database/rainfall_train.csv', index_col=0)
df_test = pd.read_csv('Database/rainfall_test.csv', index_col=0)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1457252 entries, 1 to 1457252
Data columns (total 21 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   rainfall_train.fc_year         1457252 non-null  object
 1   rainfall_train.fc_month        1457252 non-null  int64
 2   rainfall_train.fc_day          1457252 non-null  int64
 3   rainfall_train.fc_hour         1457252 non-null  int64
 4   rainfall_train.stn4contest     1457252 non-null  object
 5   rainfall_train.dh              1457252 non-null  int64
 6   rainfall_train.ef_year         1457252 non-null  object
 7   rainfall_train.ef_month        1457252 non-null  int64
 8   rainfall_train.ef_day          1457252 non-null  int64
 9   rainfall_train.ef_hour         1457252 non-null  int64
 10  rainfall_train.v01             1457252 non-null  int64
 11  rainfall_train.v02             1457252 non-null  int64
 12  rainfall_train.v03             1457252 non-null  int64
 13  rainfall_train.v04             1457252 non-null  int64
 14  rainfall_train.v05             1457252 non-null  int64
 15  rainfall_train.v06             1457252 non-null  int64
 16  rainfall_train.v07             1457252 non-null  int64
 17  rainfall_train.v08             1457252 non-null  int64
 18  rainfall_train.v09             1457252 non-null  int64
 19  rainfall_train.vv              1457252 non-null  float64
 20  rainfall_train.class_interval  1457252 non-null  int64
dtypes: float64(1), int64(17), object(3)
memory usage: 244.6+ MB

In [16]:
mask=df['rainfall_train.class_interval']==-999
df=df[~mask]

In [17]:
df

,rainfall_train.fc_year,rainfall_train.fc_month,rainfall_train.fc_day,rainfall_train.fc_hour,rainfall_train.stn4contest,rainfall_train.dh,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,rainfall_train.ef_hour,...,rainfall_train.v02,rainfall_train.v03,rainfall_train.v04,rainfall_train.v05,rainfall_train.v06,rainfall_train.v07,rainfall_train.v08,rainfall_train.v09,rainfall_train.vv,rainfall_train.class_interval
1,A,5,1,9,STN001,3,A,5,1,12,...,0,0,0,0,0,0,0,0,0.0,0
2,A,5,1,9,STN001,6,A,5,1,15,...,0,0,0,0,0,0,0,0,0.0,0
3,A,5,1,9,STN001,9,A,5,1,18,...,0,0,0,0,0,0,0,0,0.0,0
4,A,5,1,9,STN001,12,A,5,1,21,...,0,0,0,0,0,0,0,0,0.0,0
5,A,5,1,9,STN001,15,A,5,2,0,...,0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457248,C,9,30,21,STN020,228,C,10,10,9,...,7,2,2,0,0,0,0,0,0.5,3
1457249,C,9,30,21,STN020,231,C,10,10,12,...,9,5,3,1,0,0,0,0,0.0,0
1457250,C,9,30,21,STN020,234,C,10,10,15,...,9,5,3,1,0,0,0,0,1.9,4
1457251,C,9,30,21,STN020,237,C,10,10,18,...,6,4,2,2,0,0,0,0,1.9,4
1457252,C,9,30,21,STN020,240,C,10,10,21,...,6,4,2,2,0,0,0,0,1.8,4

In [19]:
df['rainfall_train.stn4contest'].unique()

array(['STN001', 'STN002', 'STN003', 'STN004', 'STN005', 'STN006',
       'STN007', 'STN008', 'STN009', 'STN010', 'STN011', 'STN012',
       'STN013', 'STN014', 'STN015', 'STN016', 'STN017', 'STN018',
       'STN019', 'STN020'], dtype=object)